<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ln.community.mapper.QuestionMapper">
    <select id="getAllQuestionInfo" resultType="questionInfo">
        select q.*,u.nickname from question q
        LEFT JOIN user u
        ON q.userId = u.id
        <where>
            q.isPass != 2
        </where>
        ORDER BY q.question_time DESC
    </select>

    <select id="getQuestionComments" resultType="questionComment">
        select c.*,u.nickname from comment c
        LEFT JOIN user u
        ON c.userId = u.id
        <where>
            <if test="questionId != null and questionId.length() > 0">
                c.questionId = #{questionId}
            </if>
        </where>
        ORDER BY comment_time DESC
    </select>

    <select id="getFollowInfo" resultType="follow">
        select f.* from follow f
        <where>
            <if test="questionId != null and questionId.length() > 0">
                questionId = #{questionId}
            </if>
            <if test="userId != null and userId.length() > 0">
                AND userId = #{userId}
            </if>
            AND is_delete != 1
        </where>
    </select>

    <select id="getMyFollowList" resultType="questionInfo">
        select q.* from question q
        LEFT JOIN follow f ON f.questionId = q.id
        <where>
            <if test="userId != null and userId.length()>0">
                f.userId = #{userId}
            </if>
            AND f.is_delete = 0
        </where>
    </select>
</mapper>